---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "mixin";
@import "var";
@import "reset";
@import "layout";
@import "typography";
@import "color";

.grid {

  img {
    display: block;
    width: 100%;
  }
  /* Required to make image fluid in IE */
  img:not(.png) {
    width: 100%;
  }
  .grid-item {
    width: 20%;
  }
  .grid-item:first-child {
    width: 60%;
  }
  .x30 { width: 30%; }
  .x40 { width: 40%; }
  .x50 { width: 50%; }
  .x60 { width: 60%; }
  .x80 { width: 80%; }
}

.grid-item {
  float: left;
}			
