[submodule "_boonjot"]
	path = _boonjot
	url = https://github.com/fontuni/boonjot.git
[submodule "_boon"]
	path = _boon
	url = https://github.com/fontuni/boon.git
[submodule "_boontook"]
	path = _boontook
	url = https://github.com/fontuni/boontook.git
[submodule "_boonbaan"]
	path = _boonbaan
	url = https://github.com/fontuni/boonbaan.git
[submodule "_vain"]
	path = _vain
	url = https://github.com/fontuni/vain.git
[submodule "_f0nt"]
	path = _f0nt
	url = https://github.com/fontuni/f0nt.git
