[submodule "boon"]
	path = _fonts/boon
	url = git@github.com:fontuni/boon.git
[submodule "boonbaan"]
	path = _fonts/boonbaan
	url = git@github.com:fontuni/boonbaan.git
[submodule "boontook"]
	path = _fonts/boontook
	url = git@github.com:fontuni/boontook.git
[submodule "boonjot"]
	path = _fonts/boonjot
	url = git@github.com:fontuni/boonjot.git
[submodule "f0nt"]
	path = _fonts/f0nt
	url = git@github.com:fontuni/f0nt.git
[submodule "vain"]
	path = _fonts/vain
	url = git@github.com:fontuni/vain.git
