<footer class="site-footer">

  <h2 class="hidden">ติดต่ออยู่นี่</h2>

  <ul class="contact-list boonicon">

    {% if site.github_username %}
    <li>
      <a target="_blank" href="https://github.com/{{ site.github_username }}" title="github.com/{{ site.github_username }}">
        github
      </a>
    </li>
    {% endif %}

    {% if site.facebook_username %}
    <li>
      <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}" title="facebook.com/{{ site.facebook_username }}">
        facebook
      </a>
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" title="twitter.com/{{ site.twitter_username }}">
        twitter
      </a>
    </li>
    {% endif %}

    {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}" title="{{ site.email }}">
        email
      </a>
    </li>
    {% endif %}

  </ul>
<!--
  <hr>

  <h2>ผู้สนับสนุนอยู่นี่</h2>

  <a class="supporter" target="_blank" href="https://www.monamafia.com/" title="ร้านเสื้อโมนามาเฟีย">
    <img src="/images/monamafia-logo.svg" alt="โลโก้ร้านโมนามาเฟีย">
  </a>
-->
  <hr>

  <small class="copyrights">&copy; 2015-2016 <a href="https://fontuni.com/">fontuni.com</a></small>

</footer>
