<head>
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
  <meta charset="{{ site.encoding }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ page.title }}{% endif %}">

  <meta property="fb:app_id" content="{{ site.fb_appid }}">
  <meta property="og:site_name" content="{{ site.title}}">
  {% if page.url == "/" %}
  <meta property="og:type" content="website">
  {% elsif page.layout == "font" %}
  <meta property="og:type" content="fontuni:font">
  {% else %}
  <meta property="og:type" content="article">
  {% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ page.title }}{% endif %}">
  <meta property="og:locale" content="{% if page.locale %}{{ page.locale }}{% endif %}{{ site.locale }}">

  <meta property="og:image" content="{% if page.cover.path %}{{ page.cover.path | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.cover.path | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:image:width" content="{% if page.cover.width %}{{ page.cover.width }}{% else %}{{ site.cover.width }}{% endif %}">
  <meta property="og:image:height" content="{% if page.cover.height %}{{ page.cover.height }}{% else %}{{ site.cover.height }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:account_id" content="{{ site.twitter_id }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/boontook/css/boontook-all.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/boon/css/boon-all.css" | prepend: site.baseurl }}">
  {% if page.css %}{% for css in page.css %}
  <link rel="stylesheet" href="{{ css | prepend: site.baseurl }}">
  {% endfor %}{% endif %}
  {% if page.theme %}
  <link rel="stylesheet" href="{{ page.theme | prepend: site.baseurl }}">
  {% else %}
  <link rel="stylesheet" href="{{ "/css/theme-boon.css" | prepend: site.baseurl }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
