<header class="site-header">

  <a class="site-title boontook-mon" href="{{ site.baseurl }}/" title="Home page">ฟอนต์อยู่นี่</a>
  
  <nav class="site-nav">

    <h2 class="hidden">เมนูอยู่นี่</h2>

    <ul>
      <li class="hidden"><a href="/">หน้าแรกอยู่นี่</a></li>
    {% for nav in site.navs %}
      {% if nav.url == page.dir %}
      <li class="active"><a href="#main">{{ nav.title }}</a></li>
      {% else %}
      <li><a href="{{ nav.url }}">{{ nav.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>

  <p class="site-description">{{ site.description }}</p>

</header>
