<hr>

<div class="sharer">

<a target="_blank" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | url_escape }}"><span class="boonicon">Facebook</span> share</a>

<a target="_blank" title="Share on Twitter" href="https://twitter.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | url_escape }}&text={{ page.title | append: ' by @' | append: site.twitter_username | url_escape }}"><span class="boonicon">Twitter</span> share</a>

<a target="_blank" title="Share on Google+" href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | url_escape }}"><span class="boonicon">Google+</span> share</a>

</div>
