body {
  padding: 3% 8%;
}

#sub {
  margin-top: 8%;
}

img {
  max-width: 100%;
}

img.svg,
.banner {
  display: none;
}

#download {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
