// Viewport approach

// 1+1+2+3+5+8 = 20

$columns: 20;
$colwidth: 100vw / 20;

body {
  line-height: 1.5;
  height: 100%;
  position: relative;
}

.container {
  @include clearfix();
}

.page-content,
.site-info {
  > .wrapper {
    padding: $colwidth $colwidth*1.5;
  }
  @include clearfix();
  height: 100%;
}



.float-left { float: left; margin-right: 1em; }
.float-right { float: right; margin-left: 1em; }

.float-left,
.float-right {
  max-width: 33%;
  max-height: 50%;
  small { display: block; }
}

@media (max-width: 479px){
  body {
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 599px){
  body {
    width: 90%;
    margin: auto;
    font-size: 15px;
  }
  .page-content,
  .site-info {
    > .wrapper {
      padding: $colwidth $colwidth;
    }
  }
}

@media (max-width: 767px) {
  .site-header {
    padding-top: $colwidth;
  }
}

@media (min-width: 600px) and (max-width: 767px){
  body {
    width: 80%;
    margin: auto;
    font-size: 15px;
  }
  .page-content,
  .site-info {
    > .wrapper {
      padding: $colwidth $colwidth;
    }
  }
}

@media (min-width: 768px) {

  html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .container {
    display: table;
    table-layout: fixed;
    min-height: 100vh;
    padding-left: 0;
    position: relative;
  }
  
  .page-content {
    width: $colwidth * 13.5;
    display: table-cell;
    min-height: 100vh;
    box-sizing: content-box;
    
    .wrapper {
      height: 100%;
      padding: $colwidth*0.75 $colwidth*1.5;
    }
  }

  .site-info {
    width: $colwidth * 4.5;
    display: table-cell;
    min-height: 100vh;
    box-sizing: content-box;
    position: relative;
    
    .wrapper { 
      height: 100%;
      position: fixed;
      top: 0;
      padding: $colwidth*0.75 $colwidth*1.5 $colwidth*0.75 0;
    }
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1.5vw;
  }
  .page-content {
    width: $colwidth * 13;
    .wrapper {
      padding: $colwidth*0.75 $colwidth*1.5;
    }
  }
  .site-info {
    width: $colwidth * 4;
    .wrapper { 
      padding: $colwidth*0.75 $colwidth*1.5 $colwidth*0.75 0;
    }
  }
}

.site-nav ul {
  margin-bottom: 1em;
  @include clearfix;
  li a {
    display: block;
    padding: 0.3em 0.75em;
  }
}
