// Viewport approach

// 1+1+2+3+5+8 = 20

$columns: 20;
$colwidth: 100vw / 20;

body {
  line-height: 1.5;
}

.page-content,
.site-info {
  > .wrapper {
    padding: 1em;
  }
  @include clearfix();
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

@media (max-width: 479px){
  body {
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 599px){
  body {
    width: 90%;
    margin: auto;
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width: 767px){
  body {
    width: 80%;
    margin: auto;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .page-content {
    width: $colwidth * 11;
    margin-left: $colwidth;
    float: left;
  }
  .site-info {
    width: $colwidth * 6;
    float: left;
    margin-left: $colwidth;
    margin-right: 0;
  }
}

@media (min-width: 960px) {

  .page-content {
    width: $colwidth * 10;
    margin-left: $colwidth * 1.5;
    float: left;
  }
  .site-info {
    width: $colwidth * 6;
    float: left;
    margin-left: $colwidth * 1.5;
    margin-right: 0;
  }

  html {
    height: 100vh;
    overflow-y: scroll;
  }
  
  body {
    font-size: 1.5vw;
  }

} 
