body {
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1em;
}

.site-description {
  font-size: 0.9em;
  font-style: oblique;
  opacity: 0.8;
  transition: 1s;
  &:hover { 
    opacity: 1;
    color: #111;
  }
}

a {
  color: $brand;
}
a:hover {
  opacity: 0.5;
}

.site-title,
h1.post-title,
.tagline {
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  color: $dark;
}

h1.post-title {
  font-family: BoonTook Mon;
  font-weight: 400;
}
