<!DOCTYPE html>
<html lang="th">
{% include head.html %}
  <body>
    <div class="container">

      <div id="main" class="page-content">
        <div class="gutter">
        <!--[if lt IE 9 ]>
        <p class="warning">ฟอนต์อยู่นี่ <strong>ไม่รองรับเว็บบราวเซอร์รุ่นเก่าที่คุณใช้งานอยู่</strong> เพื่อชีวิตที่ดีกว่า <a href="http://browsehappy.com/">ดาวน์โหลดบราวเซอร์รุ่นใหม่มาใช้ดีกว่านะครับ</a></p>
        <![endif]-->

        {{ content }}
        </div>
      </div>

      <div id="sub" class="sub-content">
        <div class="gutter">
        {% include header.html %}
        {% include footer.html %}
        </div>
      </div>

    </div>
    <script src="/js/locl.js"></script>
  </body>
</html>
