<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
{% include head-glyph.html %}
  <body{% if page.url == "/" %} class="home"{% endif %}>
    <div class="container">

      <div id="main" class="page-content">
        <div class="gutter">
        <!--[if lt IE 9 ]>
        <p class="warning">ฟอนต์อยู่นี่ <strong>ไม่รองรับเว็บบราวเซอร์รุ่นเก่าที่คุณใช้งานอยู่</strong> เพื่อชีวิตที่ดีกว่า <a href="http://browsehappy.com/">ดาวน์โหลดบราวเซอร์รุ่นใหม่มาใช้ดีกว่านะครับ</a></p>
        <![endif]-->

        <div class="glyphlog {% if page.font %}{{ page.font }}{% endif %}">

          <header class="post-header">
            <h1 class="post-title">{{ page.font }} : {{ page.title }}</h1>
          </header>

          <div class="post-content" >
            <p><a href="{{ page.image.png }}" title="View bigger image"><img src="{{ page.image.svg }}" alt="{{ page.title }}"></a></p>

            {{ content }}
          </div>

          <footer class="post-meta">
            <p>
              {{ page.date | date: "%b %d %Y" }} •
              {% if page.font %}<a href="/{{ page.font | downcase }}/">{{ page.font }}</a> project by {% endif %}
              {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
            </p>
          </footer>

        </div>

        {% include share.html %}
        </div>
      </div>

      <div id="sub" class="sub-content">
        <div class="gutter">
        {% include header.html %}
        {% include footer.html %}
        </div>
      </div>

    </div>
    <script src="/js/locl.js"></script>
  </body>
</html>


