---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
    <footer class="post-meta">
        <p id="modified-time">แก้ไขล่าสุด: {{ page.last_modified_at | date_to_rfc822 }}</p>
        <p id="license"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">บทความในฟอนต์อยู่นี่</span> โดย <a xmlns:cc="http://creativecommons.org/ns#" href="https://fontuni.com" property="cc:attributionName" rel="cc:attributionURL">สำนักอักขระฟอนต์อยู่นี่</a> อยู่ภายใต้สัญญาอนุญาต <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </footer>
  </article>

</div>
